.green-main {
  color: var(--colors-accent-green-main);
}

.green-bright {
  color: var(--colors-accent-green-bright);
}

.acid-green {
  color: var(--colors-accent-acid-green);
}

.yellow-bright {
  color: var(--colors-accent-yellow-bright);
}

.yellow {
  color: var(--colors-accent-yellow);
}

.blue-acid {
  color: var(--colors-accent-blue-acid);
}

.blue-super-dark {
  color: var(--colors-accent-blue-super-dark);
}

.blue-extra-dark {
  color: var(--colors-accent-blue-extra-dark);
}

.blue-dark {
  color: var(--colors-accent-blue-dark);
}

.blue {
  color: var(--colors-accent-blue);
}

.blue-powder {
  color: var(--colors-accent-blue-powder);
}

.blue-pale {
  color: var(--colors-accent-blue-pale);
}

.red-bright {
  color: var(--colors-accent-red-bright);
}

.red-medium {
  color: var(--colors-accent-red-medium);
}