$icon-up-black: "/assets/icons/UpBlack.svg";
$icon-up-white: "/assets/icons/UpWhite.svg";
$icon-down-black: "/assets/icons/Down.svg";
$icon-down-white: "/assets/icons/DownWhite.svg";

$backgroud-img: "/assets/images/bg.jpg";
$logo-ils-black: "/assets/logo.svg";
