$icon-up-black: "/assets/icons/up.svg";
$icon-up-white: "/assets/icons/up_white.svg";
$icon-down-black: "/assets/icons/down.svg";
$icon-down-white: "/assets/icons/down_white.svg";

$backgroud-img: "/assets/images/bg.jpg";
