// colors
:root {
  // typography
  --colors-typography-white: #FFF;
  --colors-typography-main: #232735;
  --colors-typography-medium: #505565;
  --colors-typography-light: #8B90A0;

  // neutrals
  --colors-neutrals-super-dark: #231f20;
  --colors-neutrals-dark: #4E4E5A;
  --colors-neutrals-medium: #7C7E87;
  --colors-neutrals-light: #a1a4b1;
  --colors-neutrals-super-light: #d3d4d8;
  --colors-neutrals-white: #FFF;
  --colors-neutrals-light-clean: #f0f1f3;

  // accent
  --colors-accent-green-main: #0D9B1B;
  --colors-accent-green-bright: #33BE3D;
  //10C021
  --colors-accent-acid-green: #d5fe61;
  --colors-accent-yellow-bright: #faf546;
  --colors-accent-yellow: #f4cd51;
  --colors-accent-blue-acid: #091BAD;
  --colors-accent-blue-super-dark: #01306f;
  --colors-accent-blue-extra-dark: #0049ad;
  --colors-accent-blue-dark: #005ad3;
  --colors-accent-blue: #2F80ED;
  --colors-accent-blue-powder: #AFC9F0;
  --colors-accent-blue-pale: #E7EFFC;
  --colors-accent-red-bright: #F93737;
  --colors-accentRed-medium: #EB5757;

  --font-weights-bold: 700;
  --font-weights-medium: 600;
  --font-weights-normal: 400;
}
