// colors
:root {
  --colors-typography-50: #232735;
  --colors-typography-100: #505565;
  --colors-typography-150: #8b90a0;
  --colors-typography-200: #9c9c9c;
  --colors-typography-250: #ffffff;

  --colors-neutrals-50: #231f20;
  --colors-neutrals-100: #4e4e5a;
  --colors-neutrals-150: #727279;
  --colors-neutrals-200: #a1a4b1;
  --colors-neutrals-250: #d3d4d8;
  --colors-neutrals-300: #fafafc;
  --colors-neutrals-350: #ffffff;
  --colors-neutrals-400: #949494;
  --colors-neutrals-450: #bdbdbd;
  --colors-neutrals-500: #f0f1f3;

  --colors-accentGreen-50: #186e3c;
  --colors-accentGreen-100: #27ae60;
  --colors-accentGreen-150: #12c85f;
  --colors-accentGreen-200: #1edb6e;

  --colors-accentMint-50: #09ba95;
  --colors-accentMint-100: #bbf1d2;

  --colors-accentLime-50: #d5fe61;

  --colors-accentRed-50: #9e2b2b;
  --colors-accentRed-100: #eb5757;
  --colors-accentRed-150: #f93737;
  --colors-accentRed-200: #ff6868;
  --colors-accentRed-250: #ffbcbc;
  --colors-accentRed-300: #ffeded;

  --colors-accentYellow-500: #f2994a;
  --colors-accentYellow-100: #f4cd51;
  --colors-accentYellow-150: #faf546;
  --colors-accentYellow-200: #ffe7aa;

  --colors-products-50: #01306f;
  --colors-products-100: #0049ad;
  --colors-products-150: #005ad3;
  --colors-products-200: #2f80ed;
  --colors-products-250: #68a9ff;
  --colors-products-300: #a7caf7;
  --colors-products-350: #c7dbf3;
  --colors-products-400: #f0f6fe;
  --colors-products-450: #f6faff;
}
