@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.companies {
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 24px;

    .card {
      width: 206px;
      height: 124px;
      justify-content: center;
      align-items: center;
    }
  }
}

@include tablet {
  .companies {
    &__list {
      flex-direction: column;
      row-gap: 12px;

      .card {
        width: auto;
        height: 107px;
      }
    }
  }
}