@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.education {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  @include tablet {
    align-items: center;
  }

  .title_section {
    padding-bottom: 40px;
  }
  
  &__info {
    display: flex;
    gap: 27px;

    @include tablet {
      flex-direction: column;
      max-width: 360px;
    }

    &-left {
      max-width: 456px;
      min-width: 260px;
      width: calc(456 / 1440 * 100vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include gap-medium;

      @include tablet {
        max-width: none;
        width: auto;
      }

      &__addition {
        background: var(--colors-accent-blue);
        padding: 24px 17px;
        text-align: center;
        border-radius: 12px;

        @include tablet {
          width: 360px;
        }
      
        @include mobile {
          width: auto;
        }

        .paragraph {
          color: var(--colors-typography-white);
        }
      }
    }

    &-right, &-right__links {
      display: flex;
      flex-direction: column;
      gap: 44px;
    }

    &-right {
      justify-content: space-between;
    }
  }
}