@import "@/app/styles/global.scss";

.title {
  font-weight: var(--font-weights-bold);
  line-height: 120%;

  &_main {
    color: var(--colors-typography-white);
    font-size: $main-title-fs;


    @include mobile {
      font-size: calc(#{$main-title-fs} / 2);
    }
  }
}
