@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.tariffs {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  @include gap-large;

  &__preferences {
    @include gap-medium;
    @include mobile {
      gap: 28px
    }
  }

  &__period-radio-group {
    @include tablet {
      flex-direction: column;
      @include gap-medium;
    }
  }

  &__card {
    width: 360px;

    @include mobile {
      width: 336px;
    }

    &-button {
      @include full-width;
    }

    &-content {
      padding: 24px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      @include gap-small;

      &-item {
        display: flex;
        gap: 14px
      }
    }

    &s {
      @include gap-medium;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}