.title {
  font-weight: 700;
  line-height: 120%;

  &_sub {
    font-size: 28px;
  }

  &_main {
    font-size: 48px;
  }

  &_section {
    font-size: 36px;
  }

  &_header {
    font-size: 20px;
    line-height: 140%;
  }

  &_small {
    font-weight: 600;
    font-size: 15px;
    line-height: 173%;
  }
}
