.title {
  font-weight: 700;
  line-height: 120%;

  &__sub {
    font-size: 28px;
  }

  &__main {
    font-size: 48px;
  }

  &__section {
    font-size: 36px;
  }

  &__header {
    font-size: 20px;
    line-height: 140%;
  }
}
