@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.top-picture {
  position: relative;
  min-height: 100vh;
  background: url("/assets/images/cover.jpg") no-repeat center center;
  background-size: cover;
}
