:root {
    --colors-typography-white: #FFF;
    --colors-typography-main: #232735;
    --colors-typography-medium: #505565;
    --colors-typography-light: #8B90A0;
    --colors-green-presentation: #0D9B1B;
    --colors-producct-main: #2F80ED;
    --colors-accentRed-bright: #F93737;
}