@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.top {
  @include flex-column-center;
  padding: 110px 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  @include mobile {
    gap: 5vh;
  }

  &__container {
    text-align: center;
  }

  .modal {
    text-align: left;
  }

  &__head.title {
    color: var(--colors-typography-white);
    font-weight: var(--font-weights-medium);
    margin-bottom: 64px;

    @include mobile {
      margin: 15px;
      font-size: 32px;
    }
  }

  &__access.ui-button {
    font-weight: var(--font-weights-medium);
    min-width: 220px;
    max-width: 360px;
  }
}