@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.monitoring {
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    @include gap-medium;

    @include tablet {
      flex-direction: column;
      max-width: 336px;
      @include gap-medium;
    }

    @include mobile {
      margin-top: 24px;
      max-width: none;
      width: auto;
    }

    &-map {
      flex: 1;
      object-fit: cover;

      @include desktop {
        width: calc(360 / 1440 * 100vw);
      }

      @include tablet {
        max-height: 336px;
        width: auto;
      }
    }
  }
}