.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 156px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .submenu {
    top: 50px;
    right: 0;
  }
}
