@import "@/app/styles/breakpoints.scss";
@import "@/app/styles/mixins.scss";

.platform-modules {
  @include tablet {
    @include flex-column-center;
    gap: 24px;
  }

  &__button {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__view {
    @include flex-center;

    @include desktop {
      flex-direction: column;
    }

    &-column {
      display: grid;
      grid-template-areas: 'dots title title' 'dots list arrows';
      gap: 40px 24px;

      @include mobile {
        gap: 21px;
      }

      &-dots {
        padding-top: 20px;
        grid-area: dots;
      }

      &-title {
        max-width: 327px;
        grid-area: title;
        font-weight: 600;
        font-size: 21px;
        line-height: 130%;
        @include mobile {
          max-width: 303px;
        }
      }

      &-list {
        padding-left: 4px;
        grid-area: list;
        max-width: 231px;
        gap: 45px;
        @include mobile {
          gap: 20px;
        }

        &-item {
          &-paragraph {
            @include mobile {
              font-size: 16px;
              line-height: 130%;
            }
          }

          &_3 {
            padding-top: 10px;
          }

          &_4 {
            padding-top: 20px;
          }
        }
      }

      &-arrows {
        grid-area: arrows;
        @include desktop {
          display: none;
        }
      }
    }
  }

  &__description {
    padding-top: 35px;
    @include tablet {
      padding: 0;
    }
  }
}
