.hero {
  padding: 110px 0;
  height: 554px;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__container {
    text-align: center;
  }

  &__head.title {
    color: var(--colors-typography-white);
    font-weight: var(--font-weights-medium);
  }
}
